fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
python-multipart
cors
google-genai
groq
langchain
langchain-community
langchain-text-splitters
langchain-chroma

chromadb
fastembed
pypdf
python-docx
rank-bm25
numpy

google-auth
python-jose[cryptography]
bcrypt
psycopg2-binary
email-validator